/* Footer Styling */
.footerContainer {
    position: fixed;
    bottom: 0;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    width: 100%;
    height: 60px;
    background-color: rgb(25, 25, 112); /* Medium Sea Green */
    color: white; /* White for high contrast */
}

div span {
    padding: 10px;
}

.textcontainer {
    margin-top: 17px;
}


